name: sc plugin build

on:
  push:
    branches: [ "main" ]
  pull_request:

env:
  CARGO_TERM_COLOR: always

jobs:
  plugin_matrix:
    strategy:
      matrix:
        include:
          - os: ubuntu-latest
            cmake-preset: Linux
          - os: macos-latest
            cmake-preset: macOS

    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v4

    - name: Checkout SuperCollider
      uses: actions/checkout@v4
      with:
        repository: "supercollider/supercollider"
        ref: "main"
        path: "supercollider"

    - name: Build Plugin
      run: |
        cd src/sc_plugin
        SC_SRC_PATH=$GITHUB_WORKSPACE/supercollider cmake --preset ${{ matrix.cmake-preset }}
        cmake --build build --target install

    - name: upload client artifact
      uses: actions/upload-artifact@v4
      with:
        name: stecker_sc_${{  matrix.cmake-preset }}
        path: src/sc_plugin/install/
