{% extends "base.html.jinja" %}

{% block title %}Stecker debug{% endblock %}

{% block content %}
<h2>Rooms</h2>
<div class="columns">
    <div class="column">
        <span class="button room-button" @click="$store.stecker.getRooms('chat')">Load chat rooms</span>
    </div>
    <div class="column">
        <span class="button room-button" @click="$store.stecker.getRooms('float')">Load float rooms</span>
    </div>
    <div class="column">
        <span class="button room-button" @click="$store.stecker.getRooms('audio')">Load audio rooms</span>
    </div>
</div>
<div class="rooms">
    <table class="table" style="width: 100%;">
        <thead>
            <tr>
                <th>Name</th>
                <th>UUID</th>
                <th># Listeners</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <template x-for="room in $store.stecker.rooms">
                <tr>
                    <th x-text="room.name"></th>
                    <th x-text="room.uuid"></th>
                    <th x-text="room.numListeners"></th>
                    <th><button class="button" @click="$store.stecker.joinRoom(`${room.name}`, `${room.roomType}`)" x-bind:disabled="$store.stecker.connectedRoom">Join</button></th>
                </tr>
            </template>
        </tbody>
    </table>
</div>


<div class="form" x-data="{roomName: '', roomType: ''}">
    <div class="columns">
        <div class="column is-four-fifths">
            <div class="field">
                <label class="label">Room name</label>
                <div class="control">
                    <input class="input" x-model="roomName" x-bind:disabled="$store.stecker.steckerDataChannel !== null"></input>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="field">
                <label class="label">Room type</label>
                <div class="control">
                    <div class="select" style="width: 100%;">
                        <select style="width: 100%;" required x-model="roomType" x-bind:disabled="$store.stecker.steckerDataChannel !== null">
                            <option value="">Select...</option>
                            <option value="float">Float</option>
                            <option value="chat">Chat</option>
                            <option value="audio">Audio</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <button
        style="width: 100%;"
        class="button is-link"
        @click="$store.stecker.createRoom(roomName, roomType)"
        x-bind:disabled="(roomName.length == 0) || (roomType == '') || $store.stecker.steckerDataChannel !== null"
    >Create room</button>

    <br/>

    <div class="columns">
        <div class="column">
            <div class="field">
                <label class="label">Chat message</label>
                <div class="control">
                    <input class="input" x-model="$store.stecker.chatValue" x-bind:disabled="!$store.stecker.allowSendChat"></input>
                </div>
            </div>
            <button x-bind:disabled="!$store.stecker.allowSendChat" class="button" @click="$store.stecker.sendChatValue()">Send Message</button> <br />
        </div>
        <div class="column">
            <div class="field">
                <label class="label">Float value</label>
                <div class="control">
                    <input class="input" type="number" step="0.01" x-model="$store.stecker.floatValue" :disabled="!$store.stecker.allowSendFloat"></input>
                </div>
            </div>
            <button x-bind:disabled="!$store.stecker.allowSendFloat" class="button" @click="$store.stecker.sendFloatValue()">Send value</button> <br />
        </div>
        <div class="column">
            <div class="field">
                <label class="label">Audio</label>
                <div class="control">
                    <audio controls style="width: 100%;" id="audio-player"></audio>
                </div>
            </div>
        </div>
</div>


<h2>Log</h2>
<div x-data>
    <template x-for="message in $store.stecker.messages">
        <article class="message">
            <div class="message-body" x-text="message"></div>
        </article>
    </template>
</div>
{% endblock %}
