<html>
    <title>Stecker dispatcher</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="//unpkg.com/alpinejs"></script>
    <script src="/stecker.js"></script>
    <link rel="stylesheet" href="/style.css" />
    <script>
        const pathSegments = window.location.pathname.split("/");
        const dispatcherName = pathSegments[pathSegments.length - 1];

        Alpine.store("dispatcher", {
            dispatcherName: dispatcherName,
            roomName: null,
            error: null,

            async start() {
                let disptacherResponse = await Alpine.store("stecker").accessDispatcher(dispatcherName);
                if (disptacherResponse.errors) {
                    this.error = disptacherResponse.errors[0].message;
                } else {
                    this.roomName = disptacherResponse.data.accessDispatcher.name;
                };
            }
        });

        Alpine.store("dispatcher").start();
    </script>

    <body>
        <div class="content container" x-data>
            <h2 x-text="$store.dispatcher.dispatcherName"></h2>
            <template x-if="$store.dispatcher.error != null">
                <span class="error" x-text="$store.dispatcher.error"></span>
            </template>
            <template x-if="$store.dispatcher.roomName">
                <div class="room-available content">
                    <p>
                        Your room is <span class="text" x-text="$store.dispatcher.roomName"></span>
                    </p>
                    <p>
                        <button
                            class="button"
                            @click="$store.stecker.joinRoom(`${$store.dispatcher.roomName}`, 'AUDIO')"
                            x-bind:disabled="$store.stecker.connectedRoom"
                        >
                            Start playing
                        </button>
                    </p>
                    <p>
                        <div class="column">
                            <div class="field">
                                <label class="label">Audio</label>
                                <div class="control">
                                    <audio controls style="width: 100%;" id="audio-player"></audio>
                                </div>
                            </div>
                        </div>
                    </p>
                </div>
            </template>
        </div>
    </body>
</html>
