<html>
    <title>Stecker dispatcher</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="//unpkg.com/alpinejs"></script>
    <script src="/stecker.js"></script>
    <link rel="stylesheet" href="/style.css" />
    <script>
        const pathSegments = window.location.pathname.split("/");
        const streamName = pathSegments[pathSegments.length - 1];

        Alpine.store("stream", {
            name: streamName,
        });
    </script>

    <body>
        <div class="content container" x-data>
            <h2 x-text="$store.stream.name"></h2>
            <p>
                <button
                    class="button"
                    @click="$store.stecker.joinRoom(`${$store.stream.name}`, 'AUDIO')"
                    x-bind:disabled="$store.stecker.connectedRoom"
                >
                    Start playing
                </button>
            </p>
            <p>
                <div class="field">
                    <label class="label">Audio</label>
                    <div class="control">
                        <audio controls style="width: 100%;" id="audio-player"></audio>
                    </div>
                </div>
            </p>
    </body>
</html>
