{% extends "base.html.jinja" %}

{% block content %}

{% if room_name %}
    <h2>{{ room_name }}</h2>

    <p>
        <button
            class="button"
            @click="$store.stecker.joinRoom('{{ room_name }}', 'AUDIO')"
            x-bind:disabled="$store.stecker.connectedRoom"
        >
            Start playing
        </button>
    </p>

    <p>
        <div class="field">
            <label class="label">Audio</label>
            <div class="control">
                <audio controls style="width: 100%;" id="audio-player"></audio>
            </div>
        </div>
    </p>
{% else %}
    <p>Room does not exist.</p>
{% endif %}

{% endblock %}
